.skillsMainPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.skillTitle{
  color:darkorchid;
  font-weight: bolder;
  letter-spacing: .5rem;
  
}
.yineleme{
  text-align: center;
  margin-top: 20rem;
}

.yinelemeBtn{
  border: none;
  border-radius: 30px;
  background-color:green;
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

/*Skills Component Css*/
.skill{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;

}


/*skill component css*/

.card{
  width: 350px;
  border: 1px solid blue;
  border-radius: 30px;
  padding: 25px;
  position: relative;
}

.cardTitle{
  text-align: center;
}

.cardContent{
  margin-bottom: 2rem;
}

.btn{
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.addBtn{
  width: 5rem;
height: 1.8rem;
border: none;
background-color: rgb(21, 0, 255);
color: white;
border-radius: 25px;
bottom: 20px;
left: 20px;
margin-top: 2rem;

}

.deleteBtn{
width: 5rem;
height: 1.8rem;
border: none;
background-color: red;
color: white;
border-radius: 25px;
bottom: 20px;
left: 20px;
margin-top: 2rem;

}

     
.updateBtn{
width: 5rem;
height: 1.8rem;
border: none;
background-color:darkmagenta;
color: white;
border-radius: 25px;

bottom: 20px;
right: 20px ;
margin-top: 2rem;

}
 
/* loading Component  css*/
.load{
  text-align: center;
  margin: auto;
}

.load img{
 
  width: 375px;
 
}



